<h1>Event logs of {{name}}!</h1>
<button class="btn btn-primary" type="button" ng-click=back()>Back</button>
<table class="table table-striped" border = "1" >
<tr>
	<td width="100px"><b>Type of Event</b></td>
	<td width="100px"><b>Content extracted</b></td>
	<td width="100px"><b>Link to the content</b></td>
	<td width="100px"><b>Time Logged</b></td>
</tr>
<tr ng-repeat="items in userLog">
	<td width="100px" ng-repeat="i in items track by $index">{{i}}</td>
</tr>
	    <!-- <ul>
	      <li ng-repeat="i in items">{{i}}</li>
	    </ul> -->
</table>
