<div class="modal-header">
<h3 class="modal-title">Analytics on searched terms</h3>
</div>
<div class="modal-body">
<ul>
	<li>This chart shows the percentage of most frequently searched keyword of the users.</li>
<li> Higher percentage means that the topic is trending and also searched by others around that time frequently </li>

<li>All the searched keywords are collected and the algorithm reduces the dimensionality of the text to significant features. Each of these keywords are given a score from 1-10 depending on the frequency of usage and length of the word. Later, it is converted into percentage. with this, the users can judge more quickly whether the topic is worth searching for.</li>
	<li>Similarly, the second chart shows the most frequently searched keywords by other users. An average of the scores is calculated to find out what others users are searching for.</li>
<li>The user can get a glimpse of most popular search trends,keywords and topics.</li> 
<li>The user can learn how other users utilize appropriate keywords to get their answers faster.</li>
</ul>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button"
ng-click="close()">Cancel</button>
</div>