<div class="modal-header">
<h3 class="modal-title">Analytics on tags</h3>
</div>
<div class="modal-body">
<ul>
<li>Tags can be used to help the user identify questions that are interesting or relevant to the user.</li> 
<li>The user can see the tags by other users and might identify new topics of interest.</li>
<li>The user can also use these analytics to find out the trending topics that the other users are talking about.</li>
<li>The user can also identify users of similar interests and can share knowledge with each other.</li>
</ul>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button"
ng-click="close()">Cancel</button>
</div>