<h1>Social Visualization of {{name}}</h1>

<ul class="nav flex-column">
  <li class="nav-item">
    <button class="btn btn-warning" type="button" ng-click=back()>Back</button>
  </li>
  <li class="nav-item">
    <button class="btn btn-warning" type="button" ng-click=chart()>Show Tags</button>
  </li>
  <li class="nav-item">
    <button class="btn btn-warning" type="button" ng-click=keywords()>Show most searched keywords</button>
  </li>
  <li class="nav-item">
    <button class="btn btn-warning" type="button" ng-click=votes()>Show votes</button>
  </li>
</ul>
