<div class="modal-header">
<h3 class="modal-title">Analytics on votes</h3>
</div>
<div class="modal-body">
<ul>
	<li>The graph shows consolidated view of the user's vote. </li>
<li>With higher down votes, users can know that the post is not popular and is misleading</li>
<li>The higher the upvotes for an answer, the user found what he was looking for.</li> 
<li>In the future, those upvoted posts can be suggested to users looking for similar answers.</li>
<li>The user can see if other users are finding more relevant answers than him by looking at upvotes for answers.</li>
</ul>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button"
ng-click="close()">Cancel</button>
</div>